<form *ngIf="form" [formGroup]="form" (submit)="onSave()" #f>
  <fieldset>
    <div>
      <label for="name">Name: </label>
      <input
        name="name"
        type="text"
        placeholder="Name of the resource"
        formControlName="name"
      />
      <span
        *ngIf="form.controls['name'].touched && form.controls['name'].invalid"
        ><em>* required min length of 2</em></span
      >
    </div>
    <div>
      <label for="description">Description: </label>
      <input
        name="description"
        type="text"
        placeholder="Description of the resource"
        formControlName="description"
      />
      <span
        *ngIf="
          form.controls['description'].touched &&
          form.controls['description'].invalid
        "
        ><em>* required min length of 3</em></span
      >
    </div>
    <div>
      <label for="categoryId">Category: </label>
      <select name="categoryId" formControlName="categoryId">
        <option [value]="category.id" *ngFor="let category of categories">
          {{ category.name }}
        </option>
      </select>
      <span
        *ngIf="
          form.controls['description'].touched &&
          form.controls['description'].invalid
        "
        ><em>* required</em></span
      >
    </div>
    <div>
      <label for="name">Home Page: </label>
      <input
        type="url"
        placeholder="URL of the resource home"
        formControlName="url"
      />
    </div>
    <ab-showcase-event-sub-form formGroupName="event">
    </ab-showcase-event-sub-form>
  </fieldset>
  <input type="submit" value="💾 Save" [disabled]="form.invalid" />
</form>
